<MudAppBar Elevation="3">
	<MudContainer MaxWidth="MaxWidth.Large">
		<MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
			<MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexStart">
				<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" Class="mr-1 d-md-none" OnClick="@OpenMobileNav" />
				@* Change width to variable with when the css file can be attached to this component specifically *@
				<MudImage Src="images/logo.svg" ObjectFit="ObjectFit.Contain" Width="50"></MudImage>
				<MudText Typo="Typo.h5" Class="ml-lg-3 mt-1">Blanche</MudText>
			</MudStack>
			<div Class="d-none d-md-flex">
				<MudStack Row="true" Spacing="13" AlignItems="AlignItems.Center">
					@* TODO: Can we use MudNavLink here? *@
					<MudLink Typo="Typo.body1" Color="Color.Dark" Underline="Underline.None" Href="/">Home</MudLink>
					<MudLink Typo="Typo.body1" Color="Color.Dark" Underline="Underline.None" Href="/supplementen">Aanbod</MudLink>
					<MudLink Typo="Typo.body1" Color="Color.Dark" Underline="Underline.None" Href="/formules">Formules</MudLink>
					<MudLink Typo="Typo.body1" Color="Color.Dark" Underline="Underline.None" Href="/over-ons">Over ons</MudLink>
				</MudStack>
			</div>
			<MudButton Variant="Variant.Filled" Color="Color.Primary" Style="text-transform:unset; min-width: max-content;">Offerte aanvragen</MudButton>

			<MudDrawer @bind-Open="@IsMobileNavOpen" Elevation="1" Width="100%" Height="100%" Anchor="Anchor.Left" Variant="@DrawerVariant.Temporary">
				<MudDrawerHeader>
					<MudText Typo="Typo.h6" Class="my-auto">Menu</MudText>
					<MudIconButton Icon="@Icons.Material.Filled.Close" Style="font-size: 2rem;" Class="ml-auto" OnClick="@CloseMobileNav" />
				</MudDrawerHeader>
				<MudNavMenu>
					<MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
					<MudNavLink Href="/aanbod">Aanbod</MudNavLink>
					<MudNavLink Href="/formules">Formules</MudNavLink>
					<MudNavLink Href="/over-ons">Over ons</MudNavLink>
				</MudNavMenu>
			</MudDrawer>
		</MudStack>
	</MudContainer>
</MudAppBar>

@code {
	public bool IsMobileNavOpen { get; set; }

	protected void CloseMobileNav() => IsMobileNavOpen = false;
	protected void OpenMobileNav() => IsMobileNavOpen = true;

}