@page "/aanvraag/datum-kiezen"
@using Foodtruck.Client.QuotationProcess.Components
@using Foodtruck.Client.QuotationProcess.Helpers;
@using Foodtruck.Shared.Reservations;

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-2">
    <QuotationProcessTimeline currentStep="QuotationProcessStep.CHOOSE_DATE" />
    <MudStack Spacing="10" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.h4" Align="Align.Center">
            Selecteer een datum
        </MudText>

        <MudForm Model="@Model" @ref="@form" Validation="@(calendarValidator.ValidateValue)" ValidationDelay="0">
            <MudStack Spacing="5" AlignItems="AlignItems.Center" Style="width:fit-content">
                <MudText Align="Align.Center" Class="d-flex gap-1">
                    De truck wordt telkens om 11:00 geleverd en om 16:00 opgehaald
                </MudText>

                <MudStack Spacing="0">
                    <MudCard Elevation="1" Class="calendar-card pa-5">
                        <MudGrid Justify="Justify.Center" Class="flex-wrap">
                            <MudItem xs="12" sm="6">
                                <MudStack Spacing="0" AlignItems="AlignItems.Center">

                                    <MudText Style="@ChipStyle(true)">
                                        Leverdatum
                                    </MudText>

                                    <MudChip Size="Size.Large" Color="Color.Primary" Variant="@ChipVariant(!startDateConfirmed)"
                                             OnClick="@EditStartDate" Style="@ChipStyle(true)">
                                        @(Model.Start is null ? "/" : "📅 " + Model.Start?.ToString("dd / MM / yyyy"))
                                    </MudChip>

                                </MudStack>
                            </MudItem>
                            <MudItem xs="12" sm="6">
                                <MudStack Spacing="0" AlignItems="AlignItems.Center">

                                    <MudText Style="@ChipStyle(startDateConfirmed)">
                                        Ophaaldatum
                                    </MudText>

                                    <MudChip Size="Size.Large" Color="Color.Primary" Variant="@ChipVariant(startDateConfirmed)">
                                        @(Model.End is null ? "/" : "📅 " + Model.End?.ToString("dd / MM / yyyy"))
                                    </MudChip>

                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </MudCard>

                    <div class="relative">
                        @if (loading)
                        {
                            <div class="calendar-loading">
                                <MudStack Row Spacing="7" AlignItems="AlignItems.Center" Justify="Justify.Center" Class="flex-grow-1">
                                     <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate />
                                     <MudText>Reservaties ophalen..</MudText>
                                 </MudStack>
                             </div>
                        }

                        <MudDatePicker @bind-Date="Model.Start" For="@(() => Model.Start)" Class="@(startDateConfirmed ? "d-none" : "")"
                                       PickerVariant="PickerVariant.Static" FirstDayOfWeek="DayOfWeek.Monday" DisplayMonths="2" DisableToolbar Elevation="1"
                                        IsDateDisabledFunc="IsDateAlreadyBooked" />

                         <MudDatePicker @bind-Date="Model.End" For="@(() => Model.End)" Class="@(!startDateConfirmed ? "d-none" : "")"
                                        PickerVariant="PickerVariant.Static" FirstDayOfWeek="DayOfWeek.Monday" DisplayMonths="2" DisableToolbar Elevation="1"
                                        IsDateDisabledFunc="IsDateAvailableAsEnd" AdditionalDateClassesFunc="AdditionalDateClassesFunc" PickerMonth="@PickerMonth" />
                     </div>

                 </MudStack>

                 <MudText Class="d-flex gap-1" Typo="Typo.body2">
                     <MudIcon Icon="@Icons.Material.Outlined.Info" Size="Size.Small" Color="Color.Info" />
                     @(!startDateConfirmed ? "Gelieve een leverdatum te selecteren." : "Wanneer mag de truck opgehaald worden?")
                </MudText>

                <MudStack Row Style="width:100%;">
                     @if (!startDateConfirmed)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"
                                   OnClick="ConfirmStartDate" Disabled="@(Model.Start is null)">
                            Leverdatum bevestigen
                        </MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Outlined" OnClick="EditStartDate">
                            Leverdatum aanpassen
                        </MudButton>

                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"
                                   OnClick="Submit" Disabled="@(Model.End is null)">
                            Doorgaan
                        </MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudForm>
    </MudStack>
</MudContainer>