@inject IDialogService DialogService

@if (formulas is null)
{
    <p>Loading...</p>
}
else
{
    <MudBreakpointProvider>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">

            @if (formulas != null)
            {
                @foreach (var formula in formulas)
                {
                    <MudSimpleTable Style="overflow-x: auto;" Outlined="true" Bordered="true" Class="mx-2 my-6">
                        <tbody>
                            <tr>
                                <td>
                                    <h3 class="FormulaTextSmall">Formule</h3>
                                </td>
                                <td class="formulas">
                                    <h3 class="formulaNameSmall">@formula.Title</h3>
                                    <p>@formula.Description</p>
                                    <MudImage Src="@formula.ImageUrl.ToString()" Style="width: 70%; height: auto;" Alt="@formula.Title" Class="rounded-lg ma-4" />
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="() => OpenDialog(formula)">Kies deze formule</MudButton>
                                </td>
                            </tr>
                            @if (names != null)
                            {
                                @foreach (var name in names)
                                {
                                    <tr>
                                        <td><b>@name</b></td>
                                        @if (formula.IncludedSupplements != null)
                                        {
                                            @if (formula.IncludedSupplements.Any(includedLine => includedLine?.Supplement?.Name == name) || formula.Choices.Any(choice => choice?.Name == name))
                                            {
                                                <td class="supplements">
                                                    <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Primary" />
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </MudSimpleTable>
                }
            }
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudSimpleTable Style="overflow-x: auto; background-color: transparent;" Outlined="true" Bordered="true" Class="ma-8">
                <tbody>
                    @{
                        var border = "3px solid var(--mud-palette-primary)";
                    }
                    <tr>
                        <td>
                            <h3 class="compareFormulas">Vergelijk formules</h3>
                            <p>Kies de formule die het best past bij jouw wensen.</p>
                        </td>
                        @foreach (var formula in formulas)
                        {

                            <td class="formulas" style="@(QuotationProcessState.CurrentSelectedFormula == formula ? $"border-left: {border}; border-right: {border}; border-top: {border}" : "")">
                                <MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                    <h3 class="formulaName">@formula.Title</h3>
                                    <MudText Style="height: 45px">
                                        @formula.Description
                                    </MudText>
                                    <MudImage Src="@formula.ImageUrl.ToString()" Width="200" Height="150" Alt="@formula.Title" Class="rounded-lg ma-4" />

                                    <MudStack Row="true" Spacing="1" Class="flex-wrap pb-3" Justify="Justify.Center">
                                        @if (QuotationProcessState.CurrentSelectedFormula == formula) @* Placeholder *@
                                        {
                                            @foreach (var item in QuotationProcessState.GetChosenFormulaChoiceItems())
                                            {
                                                <MudChip Variant="Variant.Outlined" Size="Size.Small">@(item.IsChosen ? $"{item.Supplement.Name} voor al je gasten" : $"{item.Quantity} x {item.Supplement.Name}")</MudChip>
                                            }

                                        }
                                    </MudStack>

                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="() => ChooseFormula(formula)">@(QuotationProcessState.CurrentSelectedFormula == formula ? "Wijzig formule" : "Kies deze formule")</MudButton>
                                    </MudStack>

                                </td>

                        }

                    </tr>

                    @if (names != null)
                    {
                        @foreach (var name in names)
                        {
                            <tr>
                                <td><b>@name</b></td>

                                @foreach (var formula in formulas)
                                {
                                    var isLastTd = names.Last() == name;

                                    <td class="supplements" style="@(QuotationProcessState.CurrentSelectedFormula == formula ? $"border-left: {border}; border-right: {border}; border-bottom: {(isLastTd ? border : "")}" :"")">
                                        @if (formula.IncludedSupplements is not null && formula.IncludedSupplements.Any(includedLine => includedLine?.Supplement?.Name == name) || formula.Choices.Any(choice => choice?.Name == name))
                                        {

                                            <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Primary" />
                                        }

                                    </td>

                                }


                            </tr>
                        }
                    }

                </tbody>
            </MudSimpleTable>
        </MudHidden>
    </MudBreakpointProvider>
}

