@page "/formule-uitbreiden"
@using Packages
@using System.Net.Http
@inject HttpClient HttpClient

<h1>Formule uitbreiden</h1>
<p></p>

@if (data.SupplementsList == null || data.SupplementsList.SupplementList.Count == 0)
{
    <p>Loading data...</p>
}
else
{
    @for (var i = 0; i < data.SupplementsList.SupplementList.Count; i++)
    {
        var supplementList = data.SupplementsList.SupplementList[i];
        var currentIndex = i;
        <div>
            <div>
                <h2>@supplementList[0].Category</h2>
                <select @onchange="e => OnSupplementSelected(e, currentIndex)">
                    @foreach (var supplement in supplementList)
                    {
                        <option value="@supplement.Id">@supplement.Name</option>
                    }
                </select>
            </div>
            <div>
                @if (SelectedSupplements.Count > currentIndex && SelectedSupplements[currentIndex] != null)
                {
                    <h3>@SelectedSupplements[currentIndex].Name</h3>
                    <p>ID: @SelectedSupplements[currentIndex].Id</p>
                    <p>Beschrijving: @SelectedSupplements[currentIndex].Description</p>
                    <p>Prijs: €@SelectedSupplements[currentIndex].Price</p>
                    <p>imageurl: @SelectedSupplements[currentIndex].Imagery</p>
                    <p>IsSupplement: @SelectedSupplements[currentIndex].IsSupplement</p>
                }
            </div>
        </div>
    }
}

@code {
    private PackageDataGenerator data;
    private List<PackageSupplement> SelectedSupplements;

    protected override async Task OnInitializedAsync()
    {
        data = new PackageDataGenerator(HttpClient);
        await data.InitializeDataAsync();
        SelectedSupplements=new();
                for (var i = 0; i < data.SupplementsList.SupplementList.Count; i++)
        {
            SelectedSupplements.Add(data.SupplementsList.SupplementList[i].FirstOrDefault());
        }
        StateHasChanged();
    }

    private void OnSupplementSelected(ChangeEventArgs e, int index)
    {
        string selectedId = e.Value.ToString();
        Console.WriteLine("ID: " +selectedId);
        Console.WriteLine("index:" +index);
        Console.WriteLine(data.SupplementsList.SupplementList[index]);
        var selectedSupplement = data.SupplementsList.SupplementList[index]
            .FirstOrDefault(supplement => supplement.Id == selectedId);
        Console.WriteLine(selectedSupplement.Name);
        if (selectedSupplement != null && index >= 0 && index < SelectedSupplements.Count)
        {
            SelectedSupplements[index] = selectedSupplement;
        }
    }
}