@page "/formules"

@if (formulas is null)
{
    <p>Loading...</p>
}
else
{
    <MudSimpleTable Style="overflow-x: auto;" Bordered="true" Class="ma-8">
        <tbody>
            <tr>
                <td>
                    <h3 class="compareFormulas">Vergelijk formules</h3>
                    <p>Kies de formule die het best past bij jouw wensen.</p>
                </td>
                @if (formulas != null)
                {
                    @foreach (var f in formulas)
                    {
                        <td class="formulas">
                            <h3 class="formulaName">@f.Name</h3>
                            <p>
                                @f.Description
                            </p>

                            <MudImage Src="@f.ImageUrl" Width="200" Height="150" Alt="@f.Name" Elevation="25" Class="rounded-lg ma-4" />


                        </td>
                    }
                }

            </tr>
            @if (supplements != null && names != null)
            {
                @foreach (var s in names)
                {
                    <tr>
                        <td><b>@s</b></td>
                        @if (formulas != null)
                        {
                            @foreach (var f in formulas)
                            {
                                @if (f.IncludedSupplements != null)
                                {
                                    @if (f.IncludedSupplements.Contains(s))
                                    {
                                        <td class="supplements">
                                            <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Primary" />
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }

                            }
                        }


                    </tr>
                }
            }

        </tbody>
    </MudSimpleTable>
}
